<button *ngIf="this.currentTrack.index === -1 || this.currentTrack.paused"
        (click)="play()">
  <md-icon>play_arrow</md-icon>
</button>
<button *ngIf="this.currentTrack.index !== -1 && ! this.currentTrack.paused"
        (click)="pause()">
  <md-icon>pause</md-icon>
</button>
<button>
  <md-icon>skip_previous</md-icon>
</button>
<button>
  <md-icon>skip_next</md-icon>
</button>
<button (click)="toggleMute()">
  <md-icon>{{deezerPlayer.activated ? 'volume_mute' : 'volume_off'}}</md-icon>
</button>
