<ng-container [ngSwitch]="(this.currentTrack.index | async) === -1 || (this.currentTrack.paused | async)">
  <button *ngSwitchCase="true" (click)="play()">
    <md-icon>play_arrow</md-icon>
  </button>
  <button *ngSwitchCase="false" (click)="pause()">
    <md-icon>pause</md-icon>
  </button>
</ng-container>
<button>
  <md-icon>skip_previous</md-icon>
</button>
<button>
  <md-icon>skip_next</md-icon>
</button>
<button (click)="toggleMute()">
  <md-icon>{{deezerPlayer.activated ? 'volume_mute' : 'volume_off'}}</md-icon>
</button>
