<ul class="track-list">
  <li *ngFor="let track of musicQueue.tracks; let index = index"
      [class.active]="currentTrack.index === index"
      [class.selected]="selectedTracks.selected(index)">
    <a *ngIf="currentTrack.index !== index || currentTrack.paused"
       (click)="musicQueue.playTrack(track.id, index)">
      <md-icon >play_arrow</md-icon>
    </a>
    <a *ngIf="currentTrack.index === index && ! currentTrack.paused"
       (click)="currentTrack.pause()">
      <md-icon >pause</md-icon>
    </a>
    <div (click)="selectedTracks.toggle(index)">
      {{track.artist.name}} - {{track.album.title}} - {{track.title}}
    </div>
    <time>
      {{track.duration | trackDuration}}
    </time>
  </li>
</ul>
