<ul class="track-list">
  <li *ngFor="let track of (musicQueue.tracks | async); let index = index"
      [class.active]="(currentTrack.index | async) === index"
      [class.selected]="(selectedTracks.indexes | async).has(index)">

    <a *ngIf="(currentTrack.index | async) !== index || (currentTrack.paused | async); else playing"
       (click)="musicQueue.playTrack(track.id, index)">
      <md-icon>play_arrow</md-icon>
    </a>
    <ng-template #playing>
      <a (click)="currentTrack.pause()">
        <md-icon>pause</md-icon>
      </a>
    </ng-template>
    <div (click)="selectedTracks.toggle(index)">
      {{track.artist.name}} - {{track.album.title}} - {{track.title}}
    </div>
    <time>
      {{track.duration | trackDuration}}
    </time>
  </li>
</ul>
