@import '../_config';

:host {
  overflow-y: scroll;
  flex-grow: 1;
}

ul {
  li {
    background-color: $color-music-queue;

    &:nth-child(even) {
      background-color: $color-music-queue-alt;
    }
  }
}
