<div [class.active]="isPlaying | async"
     [class.selected]="isSelected | async"
     *ngIf="index | async; let index">
  <ng-container [ngSwitch]="hasSelection | async">
    <ng-container *ngSwitchCase="false" [ngSwitch]="isPlaying | async">
      <a *ngSwitchCase="false" (click)="currentTrack.play(track.id, index)">
        <mat-icon>play_arrow</mat-icon>
      </a>
      <ng-container *ngSwitchCase="true" [ngSwitch]="(currentTrack.paused | async)">
        <a *ngSwitchCase="true" (click)="currentTrack.unpause()">
          <mat-icon>play_arrow</mat-icon>
        </a>
        <a *ngSwitchCase="false" (click)="currentTrack.pause()">
          <mat-icon>pause</mat-icon>
        </a>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <a (click)="toggle(index, true)" [ngSwitch]="(selectedTracks.rangeStartIdx | async) == index">
        <mat-icon *ngSwitchCase="true">check</mat-icon>
        <ng-container *ngSwitchCase="false" [ngSwitch]="(selectedTracks.rangeStartIdx | async) < index">
          <mat-icon *ngSwitchCase="true">keyboard_arrow_up</mat-icon>
          <mat-icon *ngSwitchCase="false">keyboard_arrow_down</mat-icon>
        </ng-container>
      </a>
    </ng-container>
  </ng-container>
  <div class="track-description" (click)="toggle(index, $event.shiftKey)">
    {{track.artist.name}} - {{track.album.title}} - {{track.title}}
  </div>
  <time>
    {{track.duration | trackDuration}}
  </time>
</div>
