$top-layer-horizontal-padding: 8px;

$color-pink: #ffb3ba;
$color-orange: #ffdfba;
$color-yellow: #ffffba;
$color-green: #baffc9;
$color-blue: #bae1ff;

$color-music-queue: $color-orange;
$color-music-queue-alt: $color-yellow;
