$top-layer-horizontal-padding: 8px;

$color-pink: #ffb3ba;
$color-orange: #ffdfba;
$color-yellow: #ffffba;
$color-green: #baffc9;
$color-blue: #bae1ff;

$color-music-queue: $color-orange;
$color-music-queue-alt: lighten($color-orange, 5%);

$search-input-height: 40px;
$footer-controls-height: 48px;

$button-hover-color: #eee;
