<ng-container *ngIf="trackInfo | async; let info">
  <div class="track">
    <app-marquee [reset]="resetMarquee">
      <button *ngIf="info.track" (click)="scrollToTrack(info.trackIdx)">
        {{info.track.artist.name}} - {{info.track.album.title}} - {{info.track.title}}
      </button>
    </app-marquee>
  </div>
  <div class="position">
    <div class="elapsed">
      {{ (info.track ? info.elapsed : 0) | trackDuration }}
    </div>
    <div class="total">
      {{ info.track?.duration | trackDuration }}
    </div>
  </div>
</ng-container>
