/* You can add global styles to this file, and also import other style files */

@import './app/_config';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

input:focus, button:focus, button:active {
  outline: 0;
}

button {
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul.track-list {
  list-style: none;

  li {
    font-family: sans-serif;

    &:nth-child(odd) {
      background-color: #eee;
    }

    &.active {
      background-color: $color-blue !important;

      &:hover {
        background-color: darken($color-blue, 10%) !important;
      }
    }

    &:hover {
      background-color: $color-pink;
      cursor: pointer;
    }
  }
}
