/* You can add global styles to this file, and also import other style files */

@import './app/_config';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

input:focus, button:focus, button:active {
  outline: 0;
}

button {
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#dz-root {
  visibility: hidden;
}

ul.track-list, app-music-queue {
  list-style: none;

  >* {
    display: flex;
    align-items: center;
    font-family: sans-serif;

    .track-description {
      padding: 4px 0;
      flex-grow: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
