@import '../_config';

:host {
  overflow-y: scroll;
  flex-grow: 1;
}

ul li {
  padding: 3px $top-layer-horizontal-padding;

  &.queued {
    background-color: $color-music-queue;

    &:hover {
      background-color: darken($color-music-queue, 10%) !important;
    }

    &:nth-child(even) {
      background-color: $color-music-queue-alt;

      &:hover {
        background-color: darken($color-music-queue-alt, 10%) !important;
      }
    }
  }
}
