@import '../_config';
@import '../music-queue/_queued';

ul {
  // prevent overlapping with fixed footer/header
  margin-top: $search-input-height;
  margin-bottom: $footer-controls-height;

  li {
    padding: 0 $top-layer-horizontal-padding;
    background-color: $color-yellow;

    &:nth-child(even) {
      background-color: lighten($color-yellow, 5%);
    }

    &.queued {
      @extend %music-queue-colors;
    }

    &:hover {
      background-color: darken($color-yellow, 10%);
    }
  }
}
