@import '../_config';

:host {
  padding: 0 $top-layer-horizontal-padding;
  border-bottom: solid 1px #ccc;
}

form {
  display: flex;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0;
  padding: 12px 0;
}

button {
  background-color: white;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #ccc;
  }
}
