@import '../_config';

:host {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;

  display: flex;
  height: $footer-controls-height;
  flex-shrink: 0;
  align-items: center;
  padding: 3px $top-layer-horizontal-padding;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;

  /deep/ button {
    background-color: inherit;
    border: none;

    &:hover {
      background-color: $button-hover-color;
    }

    mat-icon {
      $size: 35px;
      font-size: $size;
      height: $size;
      width: $size;

      & + mat-icon {
        margin-left: 0.5em;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
